{% extends 'hospitalmanagement/doctor_base.html' %}
{% block content %}
{% load static %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Your Appointments</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Description</th>
          <th>Mobile</th>
          <th>Appointment Date</th>
          <th>Time</th>
          <th>Status</th>
          <th>Comment</th>
        </tr>
      </thead>
      {% for a in appointments %}
      <tr>
        <td>{{a.patient.get_name}}</td>
        <td>{{a.medications}}</td>
        <td>{{a.patient.mobile}}</td>
        <td>{{a.date}}</td>
        <td>{{a.time}}</td>
        {% if a.status == 'Booked' %}
          <td><span class="label label-primary">{{a.status}}</span></td>
          <td><span class="label label-danger"><a style="color:white;" href="{% url 'doctor_edit_appointment' a.id %}">Comment</a></span></td>
        {% else %}
          <td><span class="label label-success">{{a.status}}</span></td>
          <td><a href="{% url 'appointment_view' a.id %}">View</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
